h1,
button {
  font-family: "Press Start 2P", sans-serif;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

#grid {
  border: solid 2px;
}

#controls {
  padding: 0 1em;
}
